# Data Exploration

In [118]:
pip install xlsxwriter

Requirement already satisfied: xlsxwriter in /Users/riccardobellinello/opt/miniconda3/envs/data_analysis1/lib/python3.9/site-packages (3.0.3)
Note: you may need to restart the kernel to use updated packages.

In [119]:
pip install geopy

Requirement already satisfied: geopy in /Users/riccardobellinello/opt/miniconda3/envs/data_analysis1/lib/python3.9/site-packages (2.2.0)
Requirement already satisfied: geographiclib<2,>=1.49 in /Users/riccardobellinello/opt/miniconda3/envs/data_analysis1/lib/python3.9/site-packages (from geopy) (1.52)
Note: you may need to restart the kernel to use updated packages.

In [120]:
# import module
from geopy.geocoders import Nominatim
import os
import pandas as pd
import geopy.distance
from math import sin, cos, sqrt, atan2, radians
import xlsxwriter

In [121]:
# initialize Nominatim API 
geolocator = Nominatim(user_agent="geoapiExercises")

In [122]:
# Latitude & Longitude input
Latitude = "44.553383"
Longitude = "11.442923"
  
location = geolocator.reverse(Latitude+","+Longitude)
  
# Display
print(location)

17/1, Via Paolo Borsellino, Granarolo dell'Emilia, Unione Terre di Pianura, Bologna, Emilia-Romagna, 40057, Italia

In [123]:
# Get the information from the given list and parsed into a dictionary with raw function
address = location.raw['address']
print(address)

{'house_number': '17/1', 'road': 'Via Paolo Borsellino', 'city': "Granarolo dell'Emilia", 'municipality': 'Unione Terre di Pianura', 'county': 'Bologna', 'state': 'Emilia-Romagna', 'ISO3166-2-lvl4': 'IT-45', 'postcode': '40057', 'country': 'Italia', 'country_code': 'it'}

In [124]:
# Get the city and the street
citta = address.get('city')
via = address.get('road')
print("Città:", citta)
print("Via:", via)

Città: Granarolo dell'Emilia
Via: Via Paolo Borsellino

In [125]:
path = os.getcwd()
# os.chdir('/content/dati_xls')
print(path)

/Users/riccardobellinello/Documents/Lavoro/Data Analysis/Coordinates

In [126]:
os.listdir(path)

['Coordinates.xlsx', 'Get_street_names.ipynb', 'results.xlsx']

# Data Manipulation

In [127]:
df = pd.read_excel('Coordinates.xlsx', index_col=None)
df.head()

,Id,cordinates1,cordinates2
0,1,"44.63132962647193, 11.339471589730946","44.64634972248713, 11.37285972672916"
1,2,"44.62351076751276, 11.334665071393154","44.6505630484293, 11.378524552402936"
2,3,"44.626015360421746, 11.317627680499378","44.653799163601455, 11.374705087189843"
3,4,"44.63657851360287, 11.310847056415707","44.65364840503052, 11.322882840901768"
4,5,"44.64186127782942, 11.353504907351091","44.662920730180915, 11.286158036721273"

In [128]:
df['citta'] = ""
df['via'] = ""
df['citta1'] = ""
df['via1'] = ""
print(df.head())

   Id                             cordinates1  \
0   1   44.63132962647193, 11.339471589730946
1   2   44.62351076751276, 11.334665071393154
2   3  44.626015360421746, 11.317627680499378
3   4   44.63657851360287, 11.310847056415707
4   5   44.64186127782942, 11.353504907351091

                              cordinates2 citta via citta1 via1
0    44.64634972248713, 11.37285972672916
1    44.6505630484293, 11.378524552402936
2  44.653799163601455, 11.374705087189843
3   44.65364840503052, 11.322882840901768
4  44.662920730180915, 11.286158036721273

In [129]:
# Split columns cordinates1 and cordinates2 by comma

df[['latitude1', 'longitude1']] = df['cordinates1'].str.split(', ', expand = True)
df[['latitude2', 'longitude2']] = df['cordinates2'].str.split(', ', expand = True)
df[['cordinates1',	'cordinates2', 'citta', 'via', 'citta1', 'via1',	'latitude1',	'longitude1',	'latitude2',	'longitude2']]

,cordinates1,cordinates2,citta,via,citta1,via1,latitude1,longitude1,latitude2,longitude2
0,"44.63132962647193, 11.339471589730946","44.64634972248713, 11.37285972672916",,,,,44.63132962647193,11.339471589730946,44.64634972248713,11.37285972672916
1,"44.62351076751276, 11.334665071393154","44.6505630484293, 11.378524552402936",,,,,44.62351076751276,11.334665071393154,44.6505630484293,11.378524552402936
2,"44.626015360421746, 11.317627680499378","44.653799163601455, 11.374705087189843",,,,,44.626015360421746,11.317627680499378,44.653799163601455,11.374705087189843
3,"44.63657851360287, 11.310847056415707","44.65364840503052, 11.322882840901768",,,,,44.63657851360287,11.310847056415707,44.65364840503052,11.322882840901768
4,"44.64186127782942, 11.353504907351091","44.662920730180915, 11.286158036721273",,,,,44.64186127782942,11.353504907351091,44.662920730180915,11.286158036721273

# Getting Addresses

In [130]:
latitudeList1 = df['latitude1'].astype(str).tolist()
print(latitudeList1)

['44.63132962647193', '44.62351076751276', '44.626015360421746', '44.63657851360287', '44.64186127782942']

In [131]:
longitudeList1 = df['longitude1'].astype(str).tolist()
print(longitudeList1)

['11.339471589730946', '11.334665071393154', '11.317627680499378', '11.310847056415707', '11.353504907351091']

In [132]:
# Loop each latitude and longitude
listslen = len(latitudeList1)
i = 0
while (i < listslen):
  latitude = latitudeList1[i]
  longitude = longitudeList1[i]
  print(latitude, longitude)

  i += 1

44.63132962647193 11.339471589730946
44.62351076751276 11.334665071393154
44.626015360421746 11.317627680499378
44.63657851360287 11.310847056415707
44.64186127782942 11.353504907351091

In [133]:
# Loop each latitude and longitude inside the geolocator Nominatim API and display the location informations
listslen = len(latitudeList1)
i = 0
while (i < listslen):
  Latitude = latitudeList1[i]
  Longitude = longitudeList1[i]

  location = geolocator.reverse(Latitude+","+Longitude)

  # get all raw information about the location
  address = location.raw['address']

  # Get the city and the street
  citta = address.get('county')
  via = address.get('road')
  numero = address.get('house_number')
  print("Città:", citta)
  print("Via:", via, numero)
  # print("Numero:", numero)
  
  # Display
  print(address)

  df.iloc[i,3] = citta
  df.iloc[i,4] =  f'{via}, {numero}'

  # get all latitudine and longitude coordinates
  i += 1

Città: Bologna
Via: Via Canaletta 68
{'house_number': '68', 'road': 'Via Canaletta', 'hamlet': "Sant'Antonio", 'village': 'Argelato', 'municipality': 'Unione Reno Galliera', 'county': 'Bologna', 'state': 'Emilia-Romagna', 'ISO3166-2-lvl4': 'IT-45', 'postcode': '40010', 'country': 'Italia', 'country_code': 'it'}
Città: Bologna
Via: Via Storta None
{'road': 'Via Storta', 'hamlet': 'Quattro Portoni', 'village': 'Argelato', 'municipality': 'Unione Reno Galliera', 'county': 'Bologna', 'state': 'Emilia-Romagna', 'ISO3166-2-lvl4': 'IT-45', 'postcode': '40010', 'country': 'Italia', 'country_code': 'it'}
Città: Bologna
Via: Via Storta 11/2
{'house_number': '11/2', 'road': 'Via Storta', 'hamlet': 'Quattro Portoni', 'village': 'Argelato', 'municipality': 'Unione Reno Galliera', 'county': 'Bologna', 'state': 'Emilia-Romagna', 'ISO3166-2-lvl4': 'IT-45', 'postcode': '40010', 'country': 'Italia', 'country_code': 'it'}
Città: Bologna
Via: Via Venenta 50
{'house_number': '50', 'road': 'Via Venenta', 'hamlet': "Sant'Anna", 'village': 'Argelato', 'municipality': 'Unione Reno Galliera', 'county': 'Bologna', 'state': 'Emilia-Romagna', 'ISO3166-2-lvl4': 'IT-45', 'postcode': '40010', 'country': 'Italia', 'country_code': 'it'}
Città: Bologna
Via: Via Selvatico None
{'road': 'Via Selvatico', 'village': 'San Giorgio di Piano', 'municipality': 'Unione Reno Galliera', 'county': 'Bologna', 'state': 'Emilia-Romagna', 'ISO3166-2-lvl4': 'IT-45', 'postcode': '40010', 'country': 'Italia', 'country_code': 'it'}

In [134]:
df.head()

,Id,cordinates1,cordinates2,citta,via,citta1,via1,latitude1,longitude1,latitude2,longitude2
0,1,"44.63132962647193, 11.339471589730946","44.64634972248713, 11.37285972672916",Bologna,"Via Canaletta, 68",,,44.63132962647193,11.339471589730946,44.64634972248713,11.37285972672916
1,2,"44.62351076751276, 11.334665071393154","44.6505630484293, 11.378524552402936",Bologna,"Via Storta, None",,,44.62351076751276,11.334665071393154,44.6505630484293,11.378524552402936
2,3,"44.626015360421746, 11.317627680499378","44.653799163601455, 11.374705087189843",Bologna,"Via Storta, 11/2",,,44.626015360421746,11.317627680499378,44.653799163601455,11.374705087189843
3,4,"44.63657851360287, 11.310847056415707","44.65364840503052, 11.322882840901768",Bologna,"Via Venenta, 50",,,44.63657851360287,11.310847056415707,44.65364840503052,11.322882840901768
4,5,"44.64186127782942, 11.353504907351091","44.662920730180915, 11.286158036721273",Bologna,"Via Selvatico, None",,,44.64186127782942,11.353504907351091,44.662920730180915,11.286158036721273

In [135]:
latitudeList2 = df['latitude2'].astype(str).tolist()
print(latitudeList2)

['44.64634972248713', '44.6505630484293', '44.653799163601455', '44.65364840503052', '44.662920730180915']

In [136]:
longitudeList2 = df['longitude2'].astype(str).tolist()
print(longitudeList2)

['11.37285972672916', '11.378524552402936', '11.374705087189843', '11.322882840901768', '11.286158036721273']

In [137]:
# Loop each latitude and longitude
listslen = len(latitudeList2)
i = 0
while (i < listslen):
  latitude = latitudeList2[i]
  longitude = longitudeList2[i]
  print(latitude, longitude)

  i += 1

44.64634972248713 11.37285972672916
44.6505630484293 11.378524552402936
44.653799163601455 11.374705087189843
44.65364840503052 11.322882840901768
44.662920730180915 11.286158036721273

In [138]:
# Loop each latitude and longitude inside the geolocator Nominatim API and display the location informations
listslen = len(latitudeList2)
i = 0
while (i < listslen):
  Latitude = latitudeList2[i]
  Longitude = longitudeList2[i]

  location = geolocator.reverse(Latitude+","+Longitude)

  # get all raw information about the location
  address = location.raw['address']

  # Get the city and the street
  citta1 = address.get('county')
  via1 = address.get('road')
  numero1 = address.get('house_number')
  print("Città:", citta1)
  print("Via:", via1, numero1)
  # print("Numero:", numero)
  
  # Display
  print(address)

  df.iloc[i,5] = citta1
  df.iloc[i,6] =  f'{via1}, {numero1}'

  # get all latitudine and longitude coordinates
  i += 1

Città: Bologna
Via: Viale della Rimembranza None
{'road': 'Viale della Rimembranza', 'village': 'San Giorgio di Piano', 'municipality': 'Unione Reno Galliera', 'county': 'Bologna', 'state': 'Emilia-Romagna', 'ISO3166-2-lvl4': 'IT-45', 'postcode': '40016', 'country': 'Italia', 'country_code': 'it'}
Città: Bologna
Via: Via dell'Artigiano None
{'shop': 'Centro Cabiria', 'road': "Via dell'Artigiano", 'village': 'San Giorgio di Piano', 'municipality': 'Unione Reno Galliera', 'county': 'Bologna', 'state': 'Emilia-Romagna', 'ISO3166-2-lvl4': 'IT-45', 'postcode': '40016', 'country': 'Italia', 'country_code': 'it'}
Città: Bologna
Via: Via Codini 2/4
{'house_number': '2/4', 'road': 'Via Codini', 'village': 'San Giorgio di Piano', 'municipality': 'Unione Reno Galliera', 'county': 'Bologna', 'state': 'Emilia-Romagna', 'ISO3166-2-lvl4': 'IT-45', 'postcode': '40016', 'country': 'Italia', 'country_code': 'it'}
Città: Bologna
Via: Via della Costituzione 10
{'house_number': '10', 'road': 'Via della Costituzione', 'village': 'Volta Reno', 'municipality': 'Unione Reno Galliera', 'county': 'Bologna', 'state': 'Emilia-Romagna', 'ISO3166-2-lvl4': 'IT-45', 'postcode': '40010', 'country': 'Italia', 'country_code': 'it'}
Città: Bologna
Via: None None
{'city': 'Sala Bolognese', 'municipality': "Unione Terre d'Acqua", 'county': 'Bologna', 'state': 'Emilia-Romagna', 'ISO3166-2-lvl4': 'IT-45', 'postcode': '40010', 'country': 'Italia', 'country_code': 'it'}

In [139]:
df.head()

,Id,cordinates1,cordinates2,citta,via,citta1,via1,latitude1,longitude1,latitude2,longitude2
0,1,"44.63132962647193, 11.339471589730946","44.64634972248713, 11.37285972672916",Bologna,"Via Canaletta, 68",Bologna,"Viale della Rimembranza, None",44.63132962647193,11.339471589730946,44.64634972248713,11.37285972672916
1,2,"44.62351076751276, 11.334665071393154","44.6505630484293, 11.378524552402936",Bologna,"Via Storta, None",Bologna,"Via dell'Artigiano, None",44.62351076751276,11.334665071393154,44.6505630484293,11.378524552402936
2,3,"44.626015360421746, 11.317627680499378","44.653799163601455, 11.374705087189843",Bologna,"Via Storta, 11/2",Bologna,"Via Codini, 2/4",44.626015360421746,11.317627680499378,44.653799163601455,11.374705087189843
3,4,"44.63657851360287, 11.310847056415707","44.65364840503052, 11.322882840901768",Bologna,"Via Venenta, 50",Bologna,"Via della Costituzione, 10",44.63657851360287,11.310847056415707,44.65364840503052,11.322882840901768
4,5,"44.64186127782942, 11.353504907351091","44.662920730180915, 11.286158036721273",Bologna,"Via Selvatico, None",Bologna,"None, None",44.64186127782942,11.353504907351091,44.662920730180915,11.286158036721273

# Calculate Kilometers between coordinates

In [140]:
# Create column distance km
df['distance km'] = ""

In [141]:
cordinateList1 = df['cordinates1'].astype(str).tolist()
print(cordinateList1)

['44.63132962647193, 11.339471589730946', '44.62351076751276, 11.334665071393154', '44.626015360421746, 11.317627680499378', '44.63657851360287, 11.310847056415707', '44.64186127782942, 11.353504907351091']

In [142]:
cordinateList2 = df['cordinates2'].astype(str).tolist()
print(cordinateList2)

['44.64634972248713, 11.37285972672916', '44.6505630484293, 11.378524552402936', '44.653799163601455, 11.374705087189843', '44.65364840503052, 11.322882840901768', '44.662920730180915, 11.286158036721273']

In [143]:
# Loop coordinates1
listslen = len(cordinateList1)
i = 0
while (i < listslen):
  cordinate1 = cordinateList1[i]

  print(cordinate1)
  
  i += 1

44.63132962647193, 11.339471589730946
44.62351076751276, 11.334665071393154
44.626015360421746, 11.317627680499378
44.63657851360287, 11.310847056415707
44.64186127782942, 11.353504907351091

In [144]:
# Loop coordinates2
listslen = len(cordinateList2)
i = 0
while (i < listslen):
  cordinate2 = cordinateList2[i]

  print(cordinate2)

  i += 1

44.64634972248713, 11.37285972672916
44.6505630484293, 11.378524552402936
44.653799163601455, 11.374705087189843
44.65364840503052, 11.322882840901768
44.662920730180915, 11.286158036721273

In [145]:
# Loop each latitude and longitude inside the geopy API and calculate the km
listslen = len(cordinateList1)
i = 0
while (i < listslen):
  coords_1 = cordinateList1[i]
  coords_2 = cordinateList2[i]

  result = geopy.distance.distance(coords_1, coords_2).km
  
  print(result)

  df.iloc[i,11] = result

  i += 1

3.131020895027707
4.598598792239113
5.480831704919054
2.123646743852986
5.832210313481018

In [146]:
df.head()

,Id,cordinates1,cordinates2,citta,via,citta1,via1,latitude1,longitude1,latitude2,longitude2,distance km
0,1,"44.63132962647193, 11.339471589730946","44.64634972248713, 11.37285972672916",Bologna,"Via Canaletta, 68",Bologna,"Viale della Rimembranza, None",44.63132962647193,11.339471589730946,44.64634972248713,11.37285972672916,3.131021
1,2,"44.62351076751276, 11.334665071393154","44.6505630484293, 11.378524552402936",Bologna,"Via Storta, None",Bologna,"Via dell'Artigiano, None",44.62351076751276,11.334665071393154,44.6505630484293,11.378524552402936,4.598599
2,3,"44.626015360421746, 11.317627680499378","44.653799163601455, 11.374705087189843",Bologna,"Via Storta, 11/2",Bologna,"Via Codini, 2/4",44.626015360421746,11.317627680499378,44.653799163601455,11.374705087189843,5.480832
3,4,"44.63657851360287, 11.310847056415707","44.65364840503052, 11.322882840901768",Bologna,"Via Venenta, 50",Bologna,"Via della Costituzione, 10",44.63657851360287,11.310847056415707,44.65364840503052,11.322882840901768,2.123647
4,5,"44.64186127782942, 11.353504907351091","44.662920730180915, 11.286158036721273",Bologna,"Via Selvatico, None",Bologna,"None, None",44.64186127782942,11.353504907351091,44.662920730180915,11.286158036721273,5.83221

# Export File Excel

In [147]:
# Save the results
df.to_excel("results.xlsx")